{% extends 'base.html' %}
{% block body %}
<!-- form -->
<div class="container my-3">
    <h2 class="text-center">Add a Todo</h2>
    <form action="/add" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Todo Description</label>
            <input type="text" name="description" class="form-control" id="description">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Todos -->

<div class="container my-3">
    <h2 class="text-center">Your Todos</h2>

    {% if allTodo|length == 0 %}

    <div class="alert alert-danger" role="alert">
        No Todos Found. Add Your Todo...Now!
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SNo.</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>


            </tr>
        </thead>
        <tbody>

            {% for todo in allTodo %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.createdAt }}</td>
                <!-- comleted -->
                <td>
                    <a href="/update/{{todo.id}}" type="button" class="btn btn-outline-success btn-sm mx-1">Update</a>
                </td>
                <td><a href="/delete/{{todo.id}}" type="button" class="btn btn-outline-danger btn-sm mx-1">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}
    
