{% extends 'base.html' %}
{% block body %}
<!-- form -->
<div class="container my-3">
    <h2 class="text-center">Update a Todo</h2>
    <form action="/update/{{todo.id}}" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" value="{{todo.title}}">

        </div>
        <div class="mb-3">
            <label for="desc" class="form-label" >Todo Description</label>
            <input type="text" name="description" class="form-control" id="description" value="{{todo.description}}">
        </div>

        <button type="submit" class="btn btn-primary" >Update</button>
    </form>
</div>
</div>

{% endblock %}